In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import warnings
from sklearn import preprocessing
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('cryptos.csv')
df

,Unnamed: 0,Crypto,Date,Open,High,Low,Close,Volume,Market Cap
0,0,Binance,28-02-2021,225.445941,228.173046,195.852670,209.574404,3.129699e+09,3.238612e+10
1,1,Binance,27-02-2021,221.980905,237.179435,220.099401,225.249443,2.755271e+09,3.480842e+10
2,2,Binance,26-02-2021,235.270287,238.755012,210.310761,221.680429,4.167146e+09,3.425689e+10
3,3,Binance,25-02-2021,254.467606,264.705134,233.885956,233.885956,4.059853e+09,3.614305e+10
4,4,Binance,24-02-2021,231.121604,280.088196,214.524714,254.359132,7.154122e+09,3.930683e+10
...,...,...,...,...,...,...,...,...,...
19126,2761,XRP,08-08-2013,0.004397,0.004424,0.004175,0.004254,0.000000e+00,3.325863e+07
19127,2762,XRP,07-08-2013,0.004669,0.004682,0.004333,0.004417,0.000000e+00,3.453412e+07
19128,2763,XRP,06-08-2013,0.005637,0.005661,0.004629,0.004680,0.000000e+00,3.659101e+07
19129,2764,XRP,05-08-2013,0.005875,0.005980,0.005613,0.005613,0.000000e+00,4.387916e+07
19130,2765,XRP,04-08-2013,0.005874,0.005927,0.005874,0.005882,0.000000e+00,4.598358e+07

In [3]:
#change the date format
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')

In [4]:
specific_date = '2017-09-30 00:00:00'

In [5]:
df = df[df['Date'] > specific_date]

In [6]:
df = df[['Date','Crypto', 'Open', 'High', 'Low', 'Close', 'Volume','Market Cap']]

In [7]:
df

,Date,Crypto,Open,High,Low,Close,Volume,Market Cap
0,2021-02-28,Binance,225.445941,228.173046,195.852670,209.574404,3.129699e+09,3.238612e+10
1,2021-02-27,Binance,221.980905,237.179435,220.099401,225.249443,2.755271e+09,3.480842e+10
2,2021-02-26,Binance,235.270287,238.755012,210.310761,221.680429,4.167146e+09,3.425689e+10
3,2021-02-25,Binance,254.467606,264.705134,233.885956,233.885956,4.059853e+09,3.614305e+10
4,2021-02-24,Binance,231.121604,280.088196,214.524714,254.359132,7.154122e+09,3.930683e+10
...,...,...,...,...,...,...,...,...
17607,2017-10-05,XRP,0.215583,0.241023,0.215583,0.237016,4.042990e+08,9.088104e+09
17608,2017-10-04,XRP,0.203218,0.217024,0.202647,0.214774,1.235730e+08,8.235260e+09
17609,2017-10-03,XRP,0.203209,0.204808,0.198730,0.203318,4.870310e+07,7.795993e+09
17610,2017-10-02,XRP,0.206077,0.206556,0.199444,0.202676,7.741230e+07,7.771376e+09
17611,2017-10-01,XRP,0.197622,0.207185,0.196170,0.206532,5.134550e+07,7.919230e+09

In [8]:
le = preprocessing.LabelEncoder()
df['Crypto'] = le.fit_transform(df['Crypto'])

In [9]:
open_mean = df['Open']
close_mean = df['Close']
high_mean = df['High']
low_mean = df['Low']

In [10]:
open_close = (open_mean/close_mean * 100) -100

In [11]:
high_low = (high_mean/low_mean * 100) -100

In [12]:
new_df = df[['Date','Crypto', 'Volume','Market Cap']]

In [13]:
new_df['OpenClose'] = open_close
new_df['HighLow'] = high_low
new_df

            Date  Crypto        Volume    Market Cap  OpenClose    HighLow
0     2021-02-28       0  3.129699e+09  3.238612e+10   7.573223  16.502392
1     2021-02-27       0  2.755271e+09  3.480842e+10  -1.451075   7.760146
2     2021-02-26       0  4.167146e+09  3.425689e+10   6.130382  13.524867
3     2021-02-25       0  4.059853e+09  3.614305e+10   8.799865  13.177011
4     2021-02-24       0  7.154122e+09  3.930683e+10  -9.135716  30.562204
...          ...     ...           ...           ...        ...        ...
17607 2017-10-05       9  4.042990e+08  9.088104e+09  -9.042854  11.800563
17608 2017-10-04       9  1.235730e+08  8.235260e+09  -5.380539   7.094602
17609 2017-10-03       9  4.870310e+07  7.795993e+09  -0.053612   3.058416
17610 2017-10-02       9  7.741230e+07  7.771376e+09   1.678046   3.565919
17611 2017-10-01       9  5.134550e+07  7.919230e+09  -4.314102   5.615027

[11416 rows x 6 columns]

In [14]:
dates = new_df['Date'].unique()
'''
cryptos = new_df['Crypto'].unique()
total_mc = []
total_vol = []

for j in range(len(dates)):
    mc = 0
    vol = 0
    for i in range(len(new_df)):
        if new_df.iloc[i,0] == dates[j]:
            mc += new_df.iloc[i,3]
            vol += new_df.iloc[i,2]
    total_mc.append(mc)
    total_vol.append(vol)
    '''

"\ncryptos = new_df['Crypto'].unique()\ntotal_mc = []\ntotal_vol = []\n\nfor j in range(len(dates)):\n    mc = 0\n    vol = 0\n    for i in range(len(new_df)):\n        if new_df.iloc[i,0] == dates[j]:\n            mc += new_df.iloc[i,3]\n            vol += new_df.iloc[i,2]\n    total_mc.append(mc)\n    total_vol.append(vol)\n    "

In [15]:
date_group = new_df.groupby('Date')
total_market = date_group['Market Cap'].agg(np.sum)
total_volume = date_group['Volume'].agg(np.sum)

Date
2017-10-01    1.135795e+11
2017-10-02    1.136476e+11
2017-10-03    1.115150e+11
2017-10-04    1.104879e+11
2017-10-05    1.133602e+11
                  ...
2021-02-24    1.304910e+12
2021-02-25    1.230529e+12
2021-02-26    1.216445e+12
2021-02-27    1.222307e+12
2021-02-28    1.192028e+12
Name: Market Cap, Length: 1247, dtype: float64

In [21]:
k = 0
percentage = []
market = new_df[]
for i in range(len(new_df)):
    
    #if new_df.iloc[i,0] == dates[k]:

,Date,Crypto,Volume,Market Cap,OpenClose,HighLow,percent
0,2021-02-28,0,3.129699e+09,3.238612e+10,7.573223,16.502392,NaN
1,2021-02-27,0,2.755271e+09,3.480842e+10,-1.451075,7.760146,NaN
2,2021-02-26,0,4.167146e+09,3.425689e+10,6.130382,13.524867,NaN
3,2021-02-25,0,4.059853e+09,3.614305e+10,8.799865,13.177011,NaN
4,2021-02-24,0,7.154122e+09,3.930683e+10,-9.135716,30.562204,NaN
...,...,...,...,...,...,...,...
17607,2017-10-05,9,4.042990e+08,9.088104e+09,-9.042854,11.800563,NaN
17608,2017-10-04,9,1.235730e+08,8.235260e+09,-5.380539,7.094602,NaN
17609,2017-10-03,9,4.870310e+07,7.795993e+09,-0.053612,3.058416,NaN
17610,2017-10-02,9,7.741230e+07,7.771376e+09,1.678046,3.565919,NaN
17611,2017-10-01,9,5.134550e+07,7.919230e+09,-4.314102,5.615027,NaN

In [16]:
'''
            
for j in range(len(dates)):    
    for i in range(len(new_df)):
        if new_df.iloc[i,0] == dates[j]:
            new_df.iloc[i,3] = new_df.iloc[i,3]/total_mc[j]
            new_df.iloc[i,2] = new_df.iloc[i,2]/total_vol[j]
            '''

'\n            \nfor j in range(len(dates)):    \n    for i in range(len(new_df)):\n        if new_df.iloc[i,0] == dates[j]:\n            new_df.iloc[i,3] = new_df.iloc[i,3]/total_mc[j]\n            new_df.iloc[i,2] = new_df.iloc[i,2]/total_vol[j]\n            '

In [17]:
new_df

            Date  Crypto        Volume    Market Cap  OpenClose    HighLow
0     2021-02-28       0  3.129699e+09  3.238612e+10   7.573223  16.502392
1     2021-02-27       0  2.755271e+09  3.480842e+10  -1.451075   7.760146
2     2021-02-26       0  4.167146e+09  3.425689e+10   6.130382  13.524867
3     2021-02-25       0  4.059853e+09  3.614305e+10   8.799865  13.177011
4     2021-02-24       0  7.154122e+09  3.930683e+10  -9.135716  30.562204
...          ...     ...           ...           ...        ...        ...
17607 2017-10-05       9  4.042990e+08  9.088104e+09  -9.042854  11.800563
17608 2017-10-04       9  1.235730e+08  8.235260e+09  -5.380539   7.094602
17609 2017-10-03       9  4.870310e+07  7.795993e+09  -0.053612   3.058416
17610 2017-10-02       9  7.741230e+07  7.771376e+09   1.678046   3.565919
17611 2017-10-01       9  5.134550e+07  7.919230e+09  -4.314102   5.615027

[11416 rows x 6 columns]